@font-face {
  font-family: 'Neou-Bold';
  src: url('../fonts/Neou-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Neou-Bold.woff') format('woff'), url('../fonts/Neou-Bold.ttf')  format('truetype'), url('../fonts/Neou-Bold.svg#Neou-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Neou-Thin';
  src: url('../fonts/Neou-Thin.eot?#iefix') format('embedded-opentype'),  url('../fonts/Neou-Thin.otf')  format('opentype'),
	     url('../fonts/Neou-Thin.woff') format('woff'), url('../fonts/Neou-Thin.ttf')  format('truetype'), url('../fonts/Neou-Thin.svg#Neou-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}
