

.container{
background: rgba(0, 0, 0, 0) url("https://dl.dropboxusercontent.com/u/5902603/caura/CauraRepeatingBackground.png") 0 0 / 100% auto;
/*margin: 0 auto;*/
/*max-width: 100%;*/
padding-top: 49px;
text-align: center;
width: 100%;
background-position: center;
}

h2{
color: #fff;
font-family: "Neou-Thin";
line-height: 1.2;
margin-bottom: 0.2em;
padding-top: 0.2em;
margin-top: 0.2em;
padding-bottom: 0em;
}

.heading_area{
	margin-bottom: 100px;
}

.logo_area{
	margin-bottom: 80px;
}
.logo_area img{
	max-width: 350px;
	width: 33%;
}
.user_area{
	margin-bottom: 80px;
}
.user_area img{
	max-width:150px;
	width: 14%;
}
img.bars {
   width: 60%;
}
h3 {
	font-family: 'Neou-Thin';
	font-size: 20px;
	color:#fff;
	margin-bottom: 0;
}
h3 a{
	font-family: 'Neou-Thin';
	font-size: 16px;
	color:#ffcc33;
	margin-top: 0;
	text-decoration: none;
	margin-bottom:0;
}
a:hover{
	color:#fff !important;
}

.resources_area{
	margin-bottom: 55px;
}

h1{
	color: #fff;
	font-family: "Neou-Thin";
	font-size: 34px;
	line-height: 34px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.resources_area img{
	max-width: 25%;
}

.footer_menu{margin:0; padding:0;padding-top:10px;}
.footer_menu li{}
.footer_menu li a{
	font-family: 'Neou-Thin';
	font-size: 24px;
	color:#ffcc33;
	margin-bottom: 0;
	text-decoration: none;
}
